In [1]:
# Question 1
# What's the version of NumPy that you installed?

import numpy as np

np.__version__

'1.21.5'

In [2]:
# Question 2
# Download Data
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv -O data/data.csv

--2022-09-09 11:54:53--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolviendo raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Conectando con raw.githubusercontent.com (raw.githubusercontent.com)[185.199.109.133]:443... conectado.
Petición HTTP enviada, esperando respuesta... 200 OK
Longitud: 1475504 (1,4M) [text/plain]
Guardando como: “data/data.csv”

data/data.csv       100%[===================>]   1,41M  --.-KB/s    en 0,09s

2022-09-09 11:54:54 (15,7 MB/s) - “data/data.csv” guardado [1475504/1475504]

In [3]:
# How many records are in the dataset?

import pandas as pd

df = pd.read_csv('data/data.csv')
print(df.info())
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB
None
(11914, 16)

In [4]:
df.head(3)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350

In [5]:
# Question 3
# Who are the most popular car manufacturers (top-3) according to the dataset?

df.groupby('Make').size().sort_values(ascending=False).head(3)

Make
Chevrolet     1123
Ford           881
Volkswagen     809
dtype: int64

In [6]:
# Question 4
# What's the number of unique Audi car models in the dataset?

audi = df[df['Make']=='Audi']
audi['Model'].nunique()

34

In [7]:
# Question 5
# How many columns in the dataset have missing values?

df.columns[df.isnull().any()].size

5

In [8]:
# Question 6
# Find the median value of "Engine Cylinders" column in the dataset.
print(f'Median: ', df['Engine Cylinders'].median())
# Next, calculate the most frequent value of the same "Engine Cylinders".
print(f'Most Frequent: ', df['Engine Cylinders'].mode().iloc[0])
# Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode().iloc[0], inplace=True)
# Now, calculate the median value of "Engine Cylinders" once again.
print(f'Median after fillna: ',df['Engine Cylinders'].median())

Median:  6.0
Most Frequent:  4.0
Median after fillna:  6.0

In [9]:
df['Engine Cylinders'].isnull().size

11914

In [11]:
# Question 7
# Select all the "Lotus" cars from the dataset.
df_lotus = df[df['Make'] == 'Lotus']
# Select only columns "Engine HP", "Engine Cylinders".
df_lotus_engine = df_lotus[['Engine HP', 'Engine Cylinders']]
# Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).

# Get the underlying NumPy array. Let's call it X.
X = df_lotus_engine.drop_duplicates().to_numpy()
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T@X
# Invert XTX.
XTX_invert = np.linalg.inv(XTX)
# Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

print(f'X:          ',X.shape)
print(f'X.T:        ',X.T.shape)
# What's the value of the first element of w?
#w
print(f'X@X.T:      ', XTX.shape)
print(f'XTX_invert: ', XTX_invert.shape)
print(f'(y:         ', y.shape)

w = (XTX_invert@X.T)@y
print(f'w:          ', w)

X:           (9, 2)
X.T:         (2, 9)
X@X.T:       (2, 2)
XTX_invert:  (2, 2)
(y:          (9,)
w:           [  4.59494481 -63.56432501]